PORT=3000
DATABASE=<Put in your MongoDB Connection String for NODEJS>

JWT_SECRET= <put-in-a-long-string-value-space-them-with-dashes-not-spaces>
JWT_EXPIRES_IN= 90d
JWT_COOKIE_EXPIRES_IN=90

STRIPE_SECRET_KEY= <secret key from stripe TEST>